<ion-view view-title="Complains">
<div class="my-page-content"
>
<ion-header-bar class="bar-royal">
	  <div class="h1 title">Complaints</div>
  <button class="button button-clear ion-android-add"></button>
</ion-header-bar>


  <ion-content> 
<div class="list">
    <a class="item" href="/#/syntick/complains/1">
      <h2 class="color-royal">Complaint title comes here</h2>
      <p>Created on: xx/xx/xxxx</p>
      <p>Status</p>
    </a>
    <a class="item" href="/#/syntick/complains/1">
      <h2 class="color-royal">Complaint title comes here</h2>
      <p>Created on: xx/xx/xxxx</p>
      <p>Status</p>
    </a>
    
    <a class="item" href="/#/syntick/complains/1">
      <h2 class="color-royal">Complaint title comes here</h2>
      <p>Created on: xx/xx/xxxx</p>
      <p>Status</p>
    </a>
    
    <a class="item" href="/#/syntick/complains/1">
      <h2 class="color-royal">Complaint title comes here</h2>
      <p>Created on: xx/xx/xxxx</p>
      <p>Status</p>
    </a>
      
</div>
  </ion-content>

</div>
</ion-view>