<ion-view view-title="Login" class="login-page">
<div class="bar bar-header bar-royal">
	<div class="h1 title">Syntick</div>
</div>
<ion-content>

<div class="my-page-content">

<label class="item item-input item-stacked-label">
	<span class="input-label">Random</span>
	<input type="text" placeholder="random">
</label>
<div class="list">
	<label class="item item-input">
		<span class="input-label color-royal">Email</span>
		<input type="text">
	</label>
	<label class="item item-input">
		<span class="input-label color-royal">Password</span>
		<input type="password">
	</label>
	<div class="padded-container">
	<button class="button marged button-block button-royal">
	Log in
	</button>
</div>
</div>

</div>
</ion-content>
</ion-view>